.ict4g-member {
	border-radius: 50%;
	height: 150px;
	border: solid #424242;
}

.alert {
	border: 1px solid red;
	padding: 5px;
	border-radius: 5px;
	background-color: lightcoral;
	font-size: .8em;
	font-weight: bold;
	color: darkred;
	margin: 1em auto;
	text-align: center;
}